body {
    background-image: url(https://www.shutterstock.com/image-illustration/background-studio-portrait-backdrops-photo-600nw-1576943953.jpg);
    background-repeat: no-repeat;
    width: 100% 100%;
    font-family: arial;
    text-align: center;
    padding: 0;
}

#main {
    position: absolute;
    padding: 10px;
    background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00OTQtYmctMDE4Yy14LmpwZw.jpg);
    background-repeat: norepeat;
    background-size: 100%;
    width: 80%;
    margin-left: 5.4%;
    margin-top: 5.5%;
    border-radius: 10px;
}

#title {
    font-size: larger;
    color: black;
}

img {
    display: block;
}

#image{
    max-width: 100%;
    place-items: center;
    border-radius: 10px;
}

#img-caption {
    font-size: larger;
    margin-top: 5%;
}

a {
    padding: 1%;
    border: 2px solid;
    display: inline-block;
    color: white;
    background-color: black;
    border-radius: 5px;
}