body {
    font-family: arial;
    display: flex;
    padding: 0.5%;
    margin: 0;
}

#navbar {
    position: fixed;
    height: 100%;
    width: 100px;
    background-color: #566573;
    padding: 10px;
    top: 0;
    left: 0;
}

#navbar header {
    font-size: 23.5;
    font-weight: bold;
    color: aliceblue;
    margin-bottom: 10%;
    margin-top: 10%;
}

#navbar .nav-link {
    color: aliceblue;
    font-size: large;
    padding: 5%;
    margin-bottom: 30px;
    display: block;
    margin-top: 20px;
}

#navbar .nav-link:hover {
    color: #abb2b9;
}

code { 
    background-color: #abb2b9;
    color: white;
    padding: 3px;
}

section {
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    main {
        margin-left: 130px;
        padding: 10px;
        margin-top: 30px;
    }
}